.container{
    margin: 0em 2em;
    margin-top: 5em;
    margin-bottom: 3em;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
}

.desc{
    width: 50%;
}
.desc span{
    color: #534be9;
    font-weight: bold;
}

.foto img{
    width: 12em;
    height: 13em;
}

@media screen and (max-width: 750px) {
    .container{
        display: block;
        margin-top: 3em;
        margin-bottom: 0;
        text-align: center;
    }
    .desc{
        width: auto;
        text-align: left;
    }


    .foto img{
        width: 10em;
        height: 11em;
        margin: 2em 0;
        
    }
}