.corpo{
    
}
.corpo h1{
    padding-bottom: 1em;

}

.carrossel{
    display: flex;
    justify-content: center;
}


.caixa{
    background-color: rgb(46, 45, 45);
    width: 40em;
    height: 20em;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    
}
.caixa img{
    width: 18em;
    height: 18em;
    margin-left: 1em;
    
}
.caixa p{
    margin-left: 2em;
    margin-right: 2em;
    width: auto;
}

.flechaEsquerda{
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}
.flechaEsquerda svg{
    width: 3em;
    height: 3em;
}
.flechaDireita{
    margin-left: 1em; 
    margin-top: auto;
    margin-bottom: auto;
}
.flechaDireita svg{
    width: 3em;
    height: 3em;
}