.corpo{
    
    background-image: linear-gradient(to top, #605ae8, #8e81ef, #b5aaf5, #d9d3fa, #fdfdfd);
    background-repeat: no-repeat;
    text-align: center;
}

.divisao{
    margin: 2em 0;
    width: 90%;
    height: 20px;
    color: white;
}


